<div class="form-signin mt-5">
  <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <label for="inputUsername" class="sr-only">Username</label>
  <input type="text" id="inputUsername" class="form-control" placeholder="Username" [(ngModel)]="user.username" autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" [(ngModel)]="user.password">

  <button class="btn btn-lg btn-primary btn-block mt-5" type="submit" (click)="login()">Sign in</button>
  <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
</div>
