target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

*.iml
**/target/
.idea/
*.ipr
*.iws
*.log
*.log.*
**/out/
**/.svn/
**/.settings/
**/.idea_modules/
**/.node_modules/
**/node_modules/
**/node/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties

*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.mvn
**/mvn/
mvnw.*
mvnw

# Eclipse Core
.project
*/.project

# External tool builders
.externalToolBuilders/
*/.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
*/.launch
# CDT-specific
.cproject
*/.cproject
# JDT-specific (Eclipse Java Development Tools)
.classpath
*/.classpath
# PDT-specific
.buildpath
*/.buildpath
# sbteclipse plugin
*/target
.target
*/.target
# TeXlipse plugin
.texlipse
*/.texlipse

/target/
.DS_Store
.node
