<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
      <h1 class="display-3">Categories</h1>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4" *ngFor="let c of categories">
        <h2>{{c.categoryName}}</h2>
        <p>{{c.description}}</p>
        <p><a class="btn btn-secondary" role="button" [routerLink]="['/category', c.id]">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>

<footer class="container">
  <p>&copy; Company 2017-2018</p>
</footer>
